{% extends 'base.html.twig' %}


{% block body %}
<div class="hero overlay" style="background-image: url('images/bg_1.jpg');">
    <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-5 ml-auto">
            <h1 class="text-white">J'inscris mon équipe</h1>
            <p>Jouer entre amis pour une bonne action.</p> 
        </div>
    </div>
    </div>
</div>
<div class="container">
    {{ form_start(form) }}
    <div class="row mt-4">
        <div class="col-md-12">
            {{ form_row(form.team_name) }}
        </div>
        <div class="col-md-6 p-3 bg-light border">
            <legend class="col-form-label required">Joueur N°1 - <strong>VOUS</strong></legend>
            <p class="text-center mt-3 alert alert-success">{{app.user.lastname|upper}} {{app.user.firstname|upper}}</p>
        </div>
    {% for key, player in form.players %}
        {% set val = (key|number_format) + 2  %}
        <div class="col-md-6 p-3 bg-light border">
            {{ form_row(player, {'label': 'Joueur N°' ~ val} ) }}
        </div>
    {% endfor %}
        <div class="mt-4 col-md-12 d-flex justify-content-center">{{ form_row(form.submit ) }}</div>
    </div>
    {{form_end(form)}}
</div>
{% endblock %}
