

{% extends 'base.html.twig' %}
    {% block body %}
    <div class="hero overlay" style="background-image: url('images/bg_3.jpg');">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 ml-auto">
            <h1 class="text-white">Tournoi de Foot Salle Leo Club</h1>
            <p>Jouer entre amis pour une bonne action.</p>
            <div id="date-countdown"></div>
            <p>
              <a href="{{path('app_join')}}" class="btn btn-primary py-3 px-4 mr-3">{{ app.user is defined and app.user != null ? 'Ma réservation' : "Inscris ton équipe !" }}</a>
              <a href="#about-leo" class="more light">En savoir plus</a>
            </p>  
          </div>
        </div>
      </div>
    </div>

    
    
    <!--<div class="container">
      

      <div class="row">
        <div class="col-lg-12">
          
          <div class="d-flex team-vs">
            <span class="score">4-1</span>
            <div class="team-1 w-50">
              <div class="team-details w-100 text-center">
                <img src="images/logo_1.png" alt="Image" class="img-fluid">
                <h3>LA LEGA <span>(win)</span></h3>
                <ul class="list-unstyled">
                  <li>Anja Landry (7)</li>
                  <li>Eadie Salinas (12)</li>
                  <li>Ashton Allen (10)</li>
                  <li>Baxter Metcalfe (5)</li>
                </ul>
              </div>
            </div>
            <div class="team-2 w-50">
              <div class="team-details w-100 text-center">
                <img src="images/logo_2.png" alt="Image" class="img-fluid">
                <h3>JUVENDU <span>(loss)</span></h3>
                <ul class="list-unstyled">
                  <li>Macauly Green (3)</li>
                  <li>Arham Stark (8)</li>
                  <li>Stephan Murillo (9)</li>
                  <li>Ned Ritter (5)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  

    <div class="latest-news" id="about-leo">
      <div class="container">
        <div class="row">
          <div class="col-12 title-section">
            <h2 class="heading">Leo Club, c'est quoi ?</h2>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-md-12 blog-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam gravida elit tincidunt lorem suscipit, in vulputate nulla porttitor. Fusce eget vehicula turpis, vel finibus massa. Duis non nibh sapien. Maecenas sapien arcu, gravida at malesuada ornare, fermentum non magna. Morbi ullamcorper dolor quis laoreet congue. Aliquam erat volutpat. Suspendisse a libero odio.
              Nam tempus nunc sed aliquet ultrices. Aliquam vitae justo lacus. Nam fermentum orci at diam venenatis, quis rhoncus eros bibendum. Ut vel ipsum sagittis, interdum dolor sed, aliquet nunc. Nam id feugiat lorem, id lacinia turpis. Fusce gravida tincidunt lorem consectetur viverra. Fusce fermentum ut sapien at placerat. In hac habitasse platea dictumst. Aenean nec vulputate mi. Morbi auctor non turpis at eleifend. Curabitur enim est, ullamcorper at lacus nec, vestibulum blandit arcu. Aenean ullamcorper lorem sed enim rhoncus placerat. Curabitur ultrices finibus vestibulum. Nulla vehicula egestas blandit. Suspendisse felis metus, efficitur eu suscipit in, aliquet nec justo. Vivamus convallis mi non sodales varius.</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="site-section bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="widget-next-match">
              <div class="widget-title">
                <h3>Prochain rendez-vous</h3>
              </div>
              <div class="text-center widget-vs-contents mb-4 mt-5">
                <h4>Leo Club x AR Soccer</h4>
                <p class="mb-5">
                  <span class="d-block">22 avril 2023</span>
                  <span class="d-block">9h30</span>
                  <strong class="text-primary">Montpellier</strong>
                </p>

                <div id="date-countdown2" class="pb-1"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            
            <div class="widget-next-match">
              <table class="table custom-table">
                <thead>
                  <tr>
                    <th>Team</th>
                    <th>MJ</th>
                    <th>G</th>
                    <th>N</th>
                    <th>P</th>
                    <th>+/-</th>
                    <th>PTS</th>
                  </tr>
                </thead>
                <tbody>
                {% for key, book in books %}
                  <tr>
                    <td><strong class="text-white">{{book.teamName}}</strong></td>
                    <td>{{ book.victories + book.draw + book.defeat }}</td>
                    <td>{{ book.victories }}</td>
                    <td>{{ book.draw }}</td>
                    <td>{{ book.defeat }}</td>
                    <td>{{book.goalFor != null ? book.goalFor : '0'}}/{{book.scoreAgainst != null ? book.scoreAgainst : '0'}}</td>
                    <td>{{ book.points }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div> <!-- .site-section -->

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-12 title-section">
            <h2 class="heading">Organisation</h2>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-md-12 blog-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam gravida elit tincidunt lorem suscipit, in vulputate nulla porttitor. Fusce eget vehicula turpis, vel finibus massa. Duis non nibh sapien. Maecenas sapien arcu, gravida at malesuada ornare, fermentum non magna. Morbi ullamcorper dolor quis laoreet congue. Aliquam erat volutpat. Suspendisse a libero odio.
              Nam tempus nunc sed aliquet ultrices. Aliquam vitae justo lacus. Nam fermentum orci at diam venenatis, quis rhoncus eros bibendum. Ut vel ipsum sagittis, interdum dolor sed, aliquet nunc. Nam id feugiat lorem, id lacinia turpis. Fusce gravida tincidunt lorem consectetur viverra. Fusce fermentum ut sapien at placerat. In hac habitasse platea dictumst. Aenean nec vulputate mi. Morbi auctor non turpis at eleifend. Curabitur enim est, ullamcorper at lacus nec, vestibulum blandit arcu. Aenean ullamcorper lorem sed enim rhoncus placerat. Curabitur ultrices finibus vestibulum. Nulla vehicula egestas blandit. Suspendisse felis metus, efficitur eu suscipit in, aliquet nec justo. Vivamus convallis mi non sodales varius.</p>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}